.planos-container {
    width: 1000px;
    margin: 100px auto;
    text-align: center;
}
.planos-container h2 {
    color: #fff;
    padding: 70px 0;
    font-size: 2.5rem;
    font-family: "Mochiy Pop One", sans-serif;
}
.planos-container h2 span {
    font-weight: 400;
    font-size: 3rem;
}
.planos-items {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.wrapper-items {
    background-color: #5884c1;
    width: 300px;
    position: relative;
    height: 380px;
    border-radius: 8px;
}

.items {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    border-top: 6px solid #5884c1;
    width: 200px;
    position: absolute;
    top: -30px;
    left: 50px;
    box-shadow: 4px 4px 10px #032244;
}
.items p {
    color: #5884c1;
    margin-bottom: 5px;
}
.items h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5884c1;
    font-size: 35px;
}
.items h3 span {
    display: block;
    margin-top: 8px;
}
.items span {
    font-size: 2rem;
}
.wrapper-items ul {
    list-style: none;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 80px;
}
.wrapper-items li {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: #e7f3fc;
    position: relative;
}
.wrapper-items a {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    letter-spacing: 1.5px;
    color: #000;
}
.wrapper-items a:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: 0.3s;
}
.wrapper-items.verde {
    background-color: #4fbdc0;
}
.items.verde {
    border-top: 6px solid #4fbdc0;
}
.items.verde p {
    color: #4fbdc0;
}
.items.verde h3 {
    color: #4fbdc0;
}
.wrapper-items.red {
    background-color: #e73d71;
}
.items.red {
    border-top: 6px solid #e73d71;
}
.items.red p {
    color: #e73d71;
}
.items.red h3 {
    color: #e73d71;
}
