.container {
    display: flex;
    flex-direction: column;
    background-color: #2b87c5;
}
.container h1 {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #085d96;
    padding: 30px 0;
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
    position: relative;
}
.container h1::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #71baea;
    bottom: 0;
    left: 50%;
    top: 78%;
    border-radius: 8px;
}

.container-items {
    display: flex;
    width: 100%;
}
.container-cadastro {
    width: 50%;
    background-color: #fff;
    margin-left: 0px;
    padding-top: 50px;
    padding-left: 20%;
}
.container-cadastro button {
    width: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}
.container-cadastro button:hover {
    background-color: #000;
    box-shadow: 4px 4px 10px #333;
}

.form-items label {
    display: block;
    margin-bottom: 5px;
}
.form-items input {
    width: 90%;
    margin-bottom: 10px;
}
.form-items input:hover {
    border: 1px solid #085d96;
    box-shadow: 1px 1px 4px #085d96;
}
.form-items input:focus {
    border: 1px solid #085d96;
    box-shadow: 1px 1px 4px #085d96;
}

/* planos */

.container-plano {
    background-color: #085d96;
    width: 400px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #71baea;
    box-shadow: 1px 4px 10px #085d96;
    border-bottom: none;
}
.container-plano-principal p {
    margin: 20px;
    color: #fff;
    font-size: 1.5rem;
}
.container-plano-principal h4 {
    background-color: #1a415b;
    width: 91%;
    margin: 20px;
    margin-top: -20px !important;
    padding: 20px 0px;
    border-radius: 0 0 4px 4px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    border: 1px solid #71baea;
    box-shadow: 1px 4px 10px #085d96;
    border-top: none;
}

.container-plano h3 {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.container-plano span {
    color: #fff;
    display: block;
    margin: 0 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.container-plano span:hover {
    cursor: pointer;
}
.container-plano div {
    position: relative;
    padding: 5px;
}
.container-plano div:nth-child(even) {
    width: 100%;
    background-color: #1a415b;
    border-radius: 4px;
}
.container-plano div::before {
    content: "";
    width: 10px;
    height: 4px;
    background: linear-gradient(90deg, #1a415b, #71baea);
    position: absolute;
    left: 4px;
    top: 10px;
}
.container-plano div:last-child:before {
    background: linear-gradient(90deg, rgb(100, 5, 5), rgb(222, 61, 61));
}
.container-plano p {
    color: #fff;
    font-size: 14px;
    font-style: italic;
    padding: 0px;
    margin: 0px 20px;
    margin-bottom: 10px;
}
.no-rotate {
    transition: 0.5s;
    transform: rotate(0);
}
.rotate {
    transition: 0.5s;
    transform: rotate(180deg);
}
